<nav class="fixed-nav-bar">
<div class="topbar">
    <div class="topbar-inner">
        <div class="container-fluid">
            <div class="navbar-brand">
              <img id="logo" src="cobra.png" alt="Logo" width="100" height="100" class="d-inline-flex align-text-top">
              MAMBA
            </div>
        </div>
      <div>
        <div id="login" class="box">
          LOGIN
        </div>
      </div>
      <div>
        <div id="signin" class="box">
          SIGN IN
        </div>
    </div>
  </div>
</div>
</nav>