<!-- navbar -->
<nav class="fixed-nav-bar">
<div class="topbar">
    <div class="topbar-inner">
        <div class="container-fluid">
            <div class="navbar-brand">
              <img id="logo" src="https://raw.githubusercontent.com/CairoDeAndrade/tcc-entra21/signin_page/cobra.png?token=GHSAT0AAAAAABZRGRX4EHHA5V5LLLNNOH5UY2HKMOA" alt="Logo" >
              MAMBA
            </div>
        </div>
      <div>
        <div id="login" class="box">
          LOGIN
        </div>
      </div>
      <div>
        <div id="signin" class="box">
          SIGN IN
        </div>
    </div>
    <div>
      <div id="Personalizar" class="box">
        PERSONALIZAR
      </div>
    </div>
  </div>
</div>
</nav>