{% load static %}
<!-- navbar -->
<nav class="fixed-nav-bar">
<div class="topbar">
    <div class="topbar-inner">
        <div class="container-fluid">
            <div class="navbar-brand">
              <img id="logo" src="{% static '/images/mamba_logo.png' %}" alt="Logo" width="120" height="120">
              MAMBA
            </div>
        </div>
      <div>
        <div id="login" class="box">
          LOGIN
        </div>
      </div>
      <div>
        <div id="signin" class="box">
          SIGN IN
        </div>
    </div>
    <div>
      <div id="Personalizar" class="box">
        PERSONALIZAR
      </div>
    </div>
  </div>
</div>
</nav>