@import url('https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap');
@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
@font-face {
  font-family: Quantico;
  src: url('Quantico-Regular.ttf');
}
@import "compass/css3";

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  user-select: none;
  font-family: Quantico
}

body{
   background-color: #dcdede;
   background:#e6e6ff;
   font-family: 'Encode Sans', sans-serif;
}

.topbar {
  background-color: #2a272a;
}

.topbar-inner {
  height: 120px;
  max-width: auto;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* padding: 10px; */

}

#logo {
  margin-left: 3.5%;
  max-width: 140px;
  max-height: 140px;
}

.box {
  display:inline-flex;
  padding:10px 20px;
  border-right:2px solid;
  border-left:2px solid;
  margin-right: 10px;
  color: #a3cfcd;
  background:
      linear-gradient(to right,
      #a3cfcd calc(50% - 5px),transparent calc(50% - 5px),
        transparent calc(50% + 5px),#a3cfcd calc(50% + 5px)),
      linear-gradient(to right,
      #a3cfcd calc(50% - 5px),transparent calc(50% - 5px),
        transparent calc(50% + 5px),#a3cfcd calc(50% + 5px));
  background-size:150% 2px;
  background-position:top left,bottom right;
  background-repeat:no-repeat;
  transition:.8s all;
}

.box:hover {
  background-position:top right,bottom left;
  cursor: pointer;
}

#signin {
  max-height: 44px;
  display: inline-flex;
  justify-content: right;
  white-space: nowrap;
}

#login {
  display: inline-flex;
  justify-content: right;
}

#personalizar {
  display: inline-flex;
  justify-content: right;
}

.navbar-brand {
  color: #fff !important;
  font-size: 70px;
  font-family: Quantico;
}

.sidebar {
  justify-content: space-between;
  position: fixed;
  width: 12%;
  height: 110vh;
  background: #2a272a;
  color: #fff;
  text-align: center;
  font-size: 1.8em;
}

.nav {
  color: #fff;
}

.active {
  margin-top: 20%;
  height: 80px;
  border-bottom: 1px solid #e0e4e8;
}

.search {
  margin-top: 20%;
  height: 80px;
  border-bottom: 1px solid #e0e4e8;
}

.ranking {
  margin-top: 20%;
  height: 80px;
  border-bottom: 1px solid #e0e4e8;
}

.about{
  margin-top: 20%;
  height: 80px;
  border-bottom: 1px solid #e0e4e8;
}

.out {
  margin-top: 20%;
  height: 80px;
  border-bottom: 1px solid #e0e4e8;
}

#links {
  text-decoration: none;
  color: #fff;
}

.button:hover {
  margin-left: 15%;
  background-color: #00000046;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.377);
  border-radius: 70px;
  width: 140px;
}

.side_buttons {
  padding-left: 0rem;
  width: 222.95px;
}

.main_mamba {
  background-color: #e5e7ef;
  float: right;
  position: absolute;
  width: 87.99vw;
  height: 87.8vh;
  top: 12.11%;
  left: 12%;
}

.intro {
  width: 900px;
  text-align: center;
  font-size: 1.7em;
  margin: auto;
  margin-top: 7%;  
}

input[type="file"] {
  display: none;
}
label {
  padding: 20px 10px;
  width: 500px;
  background-color: #a3cfcd;
  color:black;
  text-transform: uppercase;
  text-align: center;
  font-size: 2em;
  display: block;
  margin-top: 15px;
  cursor: pointer;
  border-radius: 4vh;
}

.upload{
  padding: 1em;
  position: absolute;
  left: 47%;
  top: 70%;
  margin-right: -50%;
  transform: translate(-40%, -40%) 
}

/* .language {
    display: none;
}
  
span:hover + .lan {
    display: block;
  } */
.search_pag {
  margin-top: 10%;
  display: flex;
  justify-content: space-evenly;
}
.search_page {
  margin-top: 20%;
  display: flex;
  justify-content: space-evenly;
}

  .dropbtn {
    background-color: #04AA6D;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    width: 280px;
    height: auto;
    border-radius: 40px;
    justify-content: center;
  }
  
  .dropdown {
    position: relative;

  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    text-align: center;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: flex;
  }
  
  .dropdown-content a:hover {background-color: #ddd;}
  
  .dropdown:hover .dropdown-content {display: inline-table;}
  
  .dropdown:hover .dropbtn {background-color: #3e8e41;}
