@import url('https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap');
@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
@font-face {
  font-family: Quantico;
  src: url('Quantico-Regular.ttf');
}
@import "compass/css3";

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  user-select: none;
  font-family: Quantico
  
}

body{
  background-color: #e5e7ef;
   font-family: 'Encode Sans', sans-serif;
}

.fixed-nav-bar { position: fixed; 
  top: 0; 
  left: 0; 
  z-index: 9999; 
  width: 100%; 
  height: 110px; 
  background-color: #2a272a; }

.topbar {
  position: fixed; 
  top: 0; 
  width: 100%; 
  
}

.topbar-inner {
  height: 120px;
  max-width: auto;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#logo {
  margin-left: 2%;
  max-width: 140px;
  max-height: 140px;
}

.box{
  display:inline-flex;
  padding:10px 20px;
  border-right:2px solid;
  border-left:2px solid;
  margin-right: 10px;
  color: #a3cfcd;
  background:
      linear-gradient(to right,
      #a3cfcd calc(50% - 5px),transparent calc(50% - 5px),
        transparent calc(50% + 5px),#a3cfcd calc(50% + 5px)),
      linear-gradient(to right,
      #a3cfcd calc(50% - 5px),transparent calc(50% - 5px),
        transparent calc(50% + 5px),#a3cfcd calc(50% + 5px));
  background-size:150% 2px;
  background-position:top left,bottom right;
  background-repeat:no-repeat;
  transition:.8s all;
}

.box:hover {
  background-position:top right,bottom left;
  cursor: pointer;
}

#signin {
  max-height: 44px;
  display: inline-flex;
  justify-content: right;
  white-space: nowrap;
}

#login {
  display: inline-flex;
  justify-content: right;
}

.navbar-brand {
  color: #fff !important;
  font-size: 70px;
  font-family: Quantico;
}

.sidebar {
  position:fixed;
  top: 100px;
  justify-content: space-between;
  width: 12%;
  height: 110vh;
  background: #2a272a;
  color: #fff;
  text-align: center;
  font-size: 1.8em;
}

.nav {
  color: #fff;
}

.active {

  height: 130px;
  border-bottom: 1px solid #e0e4e8;
}

.search {
  height: 130px;
  border-bottom: 1px solid #e0e4e8;
}

.ranking {
  height: 130px;
  border-bottom: 1px solid #e0e4e8;
}

.about{
  height: 130px;
  border-bottom: 1px solid #e0e4e8;
}

.out {
  height: 130px;
  border-bottom: 1px solid #e0e4e8;
}

#links {
  text-decoration: none;
  color: #fff;
}

#buttons2{
  padding-top: 40px;
  height:128px;
}

#buttons2:hover{
  height:128px;
  background-color: #101010;
}

.buttons{
  height:130px;
  background-color: #2a272a;
}

ol,
ul {
  padding-left: 0rem;
  width: 222.95px;
}

.main_mamba {
  background-color: #e5e7ef;
  float: right;
  position: absolute;
  width: 86.9vw;
  height: 87.8vh;
  top: 12.11%;
  left: 12%;
}

.table {
    text-align: center;
    width: 50%;
    border: #000000 2px;
    position: absolute;
    left: 25%;
    top: 13%;
}

.titles {
    background-color: #a3cfcd;
    font-size: 1.2em;
    color: rgb(255, 255, 255);
}

.column {
    border: #000000;
    border-style: solid;
    border-width: 1px;
}

#link_name {
    text-decoration: none;
    color: rgb(0, 0, 0);
  }

#name:hover {
    background-color: #b4b3b3;
}
