.title h1{
    text-align: center;
    font-size: 6vh;
    font-weight: 600;
    padding-bottom: 3%
}

.table {
    text-align: center;
    width: 50%;
    border: #000000 2px;
}

.titles {
    background-color: #a3cfcd;
    font-size: 1.2em;
    color: rgb(255, 255, 255);
}

.column {
    border: #000000;
    border-style: solid;
    border-width: 1px;
}

#link_name {
    text-decoration: none;
    color: rgb(0, 0, 0);
  }

#name:hover {
    background-color: #b4b3b3;
}

.inputbox1{
    margin-bottom: 3%;
    width: 650px;
    height: 55px;
    border-radius: 10px;
    border: 10px;
    border: black;
    box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.2);
    padding-left: 15px;
}

.input2 form{
    display: inline-flex;
}

.submit{
    background-color: #118a84;
    color: #fff;
    width: 170px;
    height: 55px;
    border-radius: 10px;
    border: none;
    box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.2);
}

.submit:hover {
    background-color: #16706c;
}

.email-button {
    border-radius: 10px;
    width: 28%;
    margin-bottom: 5%;
    background-color: #28a17e;
    color: white;
    border: none;
    padding-top: v0.7h;
    padding-bottom: 0.7vh;
}

.email-button:hover {
    background-color: #218266;
}
