<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>vcode</title>
</head>
<body>
<h1> TESTE </h1>
{% for escrita in doc_texto %}
    {% for palavra in palavras_chave %}
        {% if palavra in escrita %}
            <p>
                Em <a href="#">{{ result }}</a> >>  Palavra "{{ palavra }}": ✔
            </p>
        {% else %}
            <p>
                Em <a href="#">{{ result }}</a>  >>  Palavra "{{ palavra }}": ❌
            </p>
        {% endif %}
    {% endfor %}
{% endfor %}

<!--{% for palavra in palavras %}-->
<!--    {% if palavra in texto %}-->
<!--        <p>-->
<!--            Em {{ texto }} -> Palavra "{{ palavra }}": ✔-->
<!--        </p>-->
<!--    {% else %}-->
<!--        <p>-->
<!--            Em {{ texto }} -> Palavra "{{ palavra }}": ❌-->
<!--        </p>-->
<!--    {% endif %}-->
<!--{% endfor %}-->
</body>
</html>