{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mamba</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="icon" type="image/png" sizes="128x128" href="cobra.png">
</head>
<body>
    <div class="topbar">
        <div class="topbar-inner">
            <div class="container-fluid">
                <div class="navbar-brand">
                  <img id="logo" src="" alt="Logo" width="100" height="100" class="d-inline-flex align-text-top">
                  MAMBA
                </div>
            </div>
          <div>
            <div id="login" class="box">
              LOGIN
            </div>
          </div>
          <div>
            <div id="signin" class="box">
              SIGN IN
            </div>
        </div>
        <div>
          <div id="Personalizar" class="box">
            PERSONALIZAR
          </div>
        </div>
      </div>
    </div>
    <div class="main_mamba">
      <div class="intro" style="padding-top: 70px; padding-bottom: 50px; pading-left: 400px !important;">
          <h1>Pesquise por palavras-chave</h1>
          <p>
            Deseja usar a filtragem para buscar por sinônimos? Para isso
            <a href="{% url 'sinonimos' %}">clique aqui</a>
        para ativar.
          </p>
        <!--Search bar-->
      <form method="get" action="{% url 'index' %}" style="width: 800px;">
        <div class="form-group row intro">
          <div class="col-12">
            <input class="form-control"
                   type="search" value="{{ request.GET.term }}"
                   id="search-input"
                   placeholder="Pesquisar"
                   name="term">
          </div>
        </div>
      </form>
      <br>
      </div>
    </div>

    <div class="side">
      <main class="main">
        <aside class="sidebar">
          <nav class="nav">
              <ul>
                <li class="active"><div class="button"><a class="links" href="#">HOME</a></div></li>
                <li class="search"><div class="button"><a class="links" href="#">SEARCH</a></div></li>
                <li class="ranking"><div class="button"><a class="links" href="#">RANKING</a></div></li>
                <li class="about"><div class="button"><a class="links" href="#">ABOUT</a></div></li>
                <li class="out"><div class="button"><a class="links" href="#">LOG OUT</a></div></li>
              </ul>
          </nav>
        </aside>
      </main>
    </div>
    <div class="pysinonimos">
        <p>
            Deseja usar a filtragem para buscar por sinônimos? Para isso
            <a href="{% url 'sinonimos' %}">clique aqui</a>
        para ativar.</p>
    </div>

      <div class="upload">
<form action="profiles.py" method="post" enctype="multipart/form-data">
<label class="labelOne" for="pics">Change your Profile pic </label>
<input type="file" name="uploadField" id="pics"/>
       </div>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>

</body>
</html>
