{% extends 'super_searcher/default.html' %}
{% load static %}

<!--CSS-->
{% block static%}
<link rel="stylesheet" href="{% static 'css/about.css' %}">
{% endblock %}

<!--Title-->
{% block title %}About | {% endblock %}

<!--Home content-->
{% block content %}
    <div class="main_mamba">
          <div class="txt_img">
            <div class="us">
                A partir da Mostra de Talentos do programa Entra21,
                que tem o objetivo de aproximar os alunos formados das empresas,
                o grupo Mamba desenvolveu um projeto de automação que visa
                solucionar o problema da demora das empresas em analisar
                curriculos, uma vez que nosso projeto é 900x mais
                rápido que o método tradicional.
            </div>
            <div class="img">
              <img src="https://images.genius.com/1792393f911e9c2e08572509e8115ace.999x999x1.png"  height="400" width="500">
            </div>
          </div>
          <div class="dev">
              <strong>Desenvolvedores:</strong>
          </div>
          <div class="names">
              <div class="box_name">
                  Ana Carolina Vieira
                  <div class="icon">
                    <a href="https://github.com/AnaVieiraCosta">
                      <img src="github.png" height="55" width="55">
                    </a>
                    <a href="https://www.linkedin.com/in/ana-carolina-vieira-da-costa/">
                      <img class="linkedin" src="linkedin.png" height="55" width="55">
                    </a>
                  </div>
              </div>
              <div class="box_name">
                  Ana Clara Maiberg
                  <div class="icon">
                    <a href="https://github.com/anamaiberg">
                      <img src="github.png" height="55" width="55">
                    </a>
                    <a href="https://www.linkedin.com/in/ana-clara-maiberg-0215a7244/">
                      <img class="linkedin" src="linkedin.png" height="55" width="55">
                    </a>
                  </div>
              </div>
              <div class="box_name">
                  Cairo de Andrade
                  <div class="icon">
                    <a href="https://github.com/CairoDeAndrade">
                      <img src="github.png" height="55" width="55">
                    </a>
                    <a href="https://www.linkedin.com/in/cairodeandrade/">
                      <img class="linkedin" src="linkedin.png"  height="55" width="55"></a>
                  </div>
              </div>
              <div class="box_name">
                  Cauan Strey Breier
                  <div class="icon">
                    <a href="https://github.com/cstrey">
                      <img src="github.png" height="55" width="55">
                    </a>
                    <a href="https://www.linkedin.com/in/cauan-strey-breier-847369232/">
                      <img class="linkedin" src="linkedin.png" height="55" width="55">
                    </a>
                  </div>
              </div>
              <div class="box_name">
                 Vitor da Silva
                 <div class="icon">
                    <a href="https://github.com/silvadavitor">
                      <img src="github.png" height="55" width="55">
                    </a>
                    <a href="https://www.linkedin.com/in/vitor-da-silva-/">
                      <img class="linkedin1" src="linkedin.png" height="55" width="55">
                    </a>
                </div>
              </div>
          </div>
      </div>
{% endblock %}
