{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    {% include 'partial/_head.html' %}
    {% block static%}{% endblock %}
    <title>{% block title %}{% endblock %}Mamba</title>
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
</head>
<body>
    <!--NavBar-->
    {% include 'partial/_navbar.html' %}

    <!--Content-->
    {% block content %}{% endblock %}

    <!--SideBar-->
    {% include 'partial/_sidebar.html' %}

    <!--Import-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>

</body>
</html>