{% extends 'default.html' %}
{% load static %}

<!--CSS-->
{% block static%}
<style>
.title h1{
    text-align: center;
    font-size: 6vh;
    font-weight: 600;
    padding-bottom: 3%
}

.options {
    display: flex;
    margin-left: 15vh;
    margin-top: 5vh;
}

.home button{
    width: 40vh;
    height: 10vh;
    font-size: 100%;
    background-color: #23a696;
    box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.4);
    border: none;
    border-radius: 20px;
    margin-right: 3vh;
}

.home a{
    text-decoration: None;
    color: white;
}

.home button:hover {
    background-color: #1e8578;
}

.search button{
    width: 40vh;
    height: 10vh;
    font-size: 100%;
    background-color: #28a17e;
    box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.4);
    border: none;
    border-radius: 20px;
    margin-right: 3vh;
}

.search a{
    text-decoration: None;
    color: white;
}

.search button:hover {
    background-color: #218266;
}

</style>
{% endblock %}

{% block content%}
    <div class="title">
        <h1>Situação de envio dos arquivos:</h1>
    </div>

    <div class="messages">
         <!--Messages-->
         {% include 'partial/_messages.html' %}
    </div>

  <div class="container">
      <p>
          Você pode voltar à página principal clicando no botão "Voltar para Home" ou pode
          continuar suas buscas clicando em "Continuar buscando":
      </p>
      <div class="options">
          <div class="home">
            <button><a href="{% url 'home' %}">Voltar para Home</a></button>
          </div>
          <div class="search">
              <button><a href="{% url 'search' %}">Continuar buscando</a></button>
          </div>
      </div>
  </div>
{% endblock %}
