{% extends 'default.html' %}
{% load static %}

<!--CSS-->
{% block static%}
<style>
    /* inside of the home page */
    .title h1{
        text-align: center;
        color: #000000;
        font-weight: 600;
        padding-bottom: 2%;
    }

    .content {
        margin-left: 8%;
    }

    .upload {
        margin-top: 3%;
    }

.enviar {
    height: 7vh;
    width: 25vh;
    font-size: 100%;
    color: white;
    background-color: #a3cfcd;
    box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.4);
    border: none;
    border-radius: 20px;
}

.enviar:hover {
    background-color: #95B1AF;
}

  .limpar {
    height: 8.3vh;
    width: 16vh;
    font-size: 100%;
    background-color: #324B4A;
    border: none;
    border-radius: 8%;
  }

  .limpar a {
    text-decoration: none;
    color: white;
  }

  .limpar:hover {
    background-color: #627C7B;
  }

  .delete {
    margin-top: 5%;
  }

  .delete button {
    height: 8.3vh;
    width: 16vh;
    font-size: 100%;
    background-color: #324B4A;
    border: none;
    border-radius: 8%;
    text-decoration: none;
    color: white;
  }

  .delete a {
    text-decoration: none;
    color: white;
  }

  .delete button:hover {
    background-color: #627C7B;
  }
</style>
{% endblock %}

<!--Title-->
{% block title %}Home | {% endblock %}

<!--Home content-->
{% block content %}

      <!-- page content -->
        <div class="title">
            <h1>Acelere o seu processo de seleção com o super buscador Mamba!</h1>
        </div>

         <!--Description/messages-->
        {% if messages %}
            <!--Messages-->
            {% include 'partial/_messages.html' %}
        {% endif %}

    <div class="content">
        
        <div class="upload">
            <form action="{% url 'upload' %}" method="POST" enctype="multipart/form-data">
                 {% csrf_token %}
                <div>
                    <input type="file" name="files" id="upload" multiple />
                    <input type="submit" value="Enviar" class="enviar" />
                    <button type="reset" class="limpar"><a href="{% url 'home' %}">Limpar</a></button>
                </div>
            </form>
        </div>

        <div class="delete">
            <p>Para deletar os arquivos enviados e fazer um novo upload, clique no botão
            <strong>"Deletar"</strong> abaixo:</p>
            <form action="{% url 'delete_files' %}" method="get" enctype="multipart/form-data">
                 {% csrf_token %}
                <div>
                    <button>Deletar</button>
                </div>
            </form>
        </div>
        <!-- page content /-->
    </div>

{% endblock %}
