{% extends 'super_searcher/default.html' %}
{% load static %}

<!--CSS-->
{% block static%}
<link rel="stylesheet" href="{% static 'css/home.css' %}">
{% endblock %}

<!--Title-->
{% block title %}Home | {% endblock %}

<!--Home content-->
{% block content %}
    <div class="main_mamba">

     <!--Description/messages-->
      <div class="intro">
        {% if messages %}
            <!--Messages-->
            {% include 'partial/_messages.html' %}
        {% endif %}
          <p>
          Mamba consiste na automação de um processo de seleção de talentos.
          Ao clicar em começar, insira os currículos que deseja analisar na área indicada.
          Depois, indique palavras que você gostaria de procurar pelos currículos,
          por presets ou por escrito  (Exemplo: "inglês"). Quando o processo de carregamento acabar,
          você poderá ver os currículos que possuem as palavras em um ranking dos
          que mais se alinham com o procurado. Desejamos a você uma ótima experiência
          e agradecemos  por cunsultar o Mamba.
          </p>
      </div>

      <div class="upload" style="margin-left: 300px;">
        <form action="{% url 'upload' %}" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <div>
                <label for="upload">enviar arquivo</label>
                <input type="file" name="files" id="upload" multiple />
                <input type="submit" value="Upload" class="btn btn-primary" />
            </div>
        </form>
       </div>
    </div>

{% endblock %}
