{% extends 'super_searcher/default.html' %}
{% load static %}

<!--CSS-->
{% block css%}
<link rel="stylesheet" href="{% static 'css/search.css' %}">
{% endblock %}

<!--Title-->
{% block title %}Home | {% endblock %}

<!--Home content-->
{% block content %}
    <div class="main_mamba">
      <div class="search_pag">
        <div class="ui selection dropdown">
          <div class="dropdown">
            <button class="dropbtn">Linguagens</button>
            <div class="dropdown-content">
              <a href="#">Inglês</a>
              <a href="#">Alemão</a>
              <a href="#">Espanhol</a>
            </div>
          </div>
      </div>
      <div class="ui selection dropdown">
        <div class="dropdown">
          <button class="dropbtn">Educação</button>
          <div class="dropdown-content">
            <a href="#">Básico</a>
            <a href="#">Média</a>
            <a href="#">Superior</a>
          </div>
        </div>
      </div>
    </div>


    <div class="search_page">
      <div class="ui selection dropdown">
        <div class="dropdown">
          <button class="dropbtn">Cursos</button>
          <div class="dropdown-content">
            <a href="#">Python</a>
            <a href="#">C#</a>
            <a href="#">Java</a>
          </div>
        </div>
        </div>
        <div class="ui selection dropdown">
      <div class="dropdown">
        <button class="dropbtn">Localidade</button>
        <div class="dropdown-content">
          <a href="#">Blumenau</a>
          <a href="#">Gaspar</a>
          <a href="#">Indaial</a>
        </div>
      </div>
      </div>
    </div>
    <div class="input2">
        <input class="inputbox1" type="text" name="inputBox" placeholder="Pesquisar por outras palavras">
        <input class="submit" type="submit" value="CONFIRMAR" >
    </div>
  </div>
{% endblock %}
