{% extends 'super_searcher/default.html' %}
{% load static %}

<!--CSS-->
{% block static%}
<link rel="stylesheet" href="{% static 'css/search.css' %}">

<!--Javascript-->
<script>
  function selecionado(selectElement){
    let valor = selectElement.innerHTML
    let barra = document.getElementById('select_words')
    if (barra.value == ''){
      barra.value = valor
    }else{
      barra.value += ',' + valor
    }
  }
</script>
{% endblock %}

<!--Title-->
{% block title %}Search | {% endblock %}

<!--Home content-->
{% block content %}
  <div class="main_mamba">

      <div class="search_pag">
        <div class="ui selection dropdown">
          <div class="dropdown">
            <button class="dropbtn">Linguagens</button>
            <div class="dropdown-content">
              <a href="#" onclick="selecionado(this)">Inglês</a>
              <a href="#" onclick="selecionado(this)">Alemão</a>
              <a href="#" onclick="selecionado(this)">Espanhol</a>
            </div>
          </div>
      </div>
      <div class="ui selection dropdown">
        <div class="dropdown">
          <button class="dropbtn">Educação</button>
          <div class="dropdown-content">
            <a href="#" onclick="selecionado(this)">Básico</a>
            <a href="#" onclick="selecionado(this)">Média</a>
            <a href="#" onclick="selecionado(this)">Superior</a>
          </div>
        </div>
      </div>
    </div>
    <div class="search_page">
      <div class="ui selection dropdown">
        <div class="dropdown">
          <button class="dropbtn">Cursos</button>
          <div class="dropdown-content">
            <a href="#" onclick="selecionado(this)">Python</a>
            <a href="#" onclick="selecionado(this)">C#</a>
            <a href="#" onclick="selecionado(this)">Java</a>
          </div>
        </div>
        </div>
        <div class="ui selection dropdown">
      <div class="dropdown">
        <button class="dropbtn">Localidade</button>
        <div class="dropdown-content">
          <a href="#" onclick="selecionado(this)">Blumenau</a>
          <a href="#" onclick="selecionado(this)">Gaspar</a>
          <a href="#" onclick="selecionado(this)">Indaial</a>
        </div>
      </div>
      </div>
    </div>
    <div class="input2">
      <!--Search bar-->
      <form method="get" action="{% url 'ranking' %}">
          <input class="form-control inputbox1"
                 type="search" value="{{ request.GET.term }}"
                 id="select_words"
                 placeholder="Pesquisar por outras palavras"
                 name="term">
      </form>
    </div>

  </div>
{% endblock %}
