/* about css */
.title h1{
    text-align: center;
    font-size: 6vh;
    font-weight: 600;
    padding-bottom: 3%;
}

.us{
  text-align: justify;
  font-size: 1em;
}

.txt_img{
  display: flex;
  justify-content: space-around;
}

.img{
  margin-left: 5%;
}

.dev{
  font-size: 1.5em;
  text-align: center;
  margin: 1em;
}

/* Cairo and Vitor css  */
.photos {
  display: flex;
}

.photos img{
  width: 30vh;
  height: 30vh;
  border-radius: 50%;
  margin-top: 3%;
}

.cairo {
  margin-left: 21%;
}

.vitor {
  margin-left: 17%;
}

.names {
    display: flex;
    width: 120vh;
}

.name1 {
  margin-top: 2%;
  margin-left: 24%;
}

.box_name{
  font-size: 1em;
}

.icon div{
  display: inline-flex;
  width:55px;
  height: 55px;

}

.icon-cairo {
  margin-left: 27%;
}

.github {
  margin-right: 2vh;
}

.icon-vitor {
  margin-left: 35%;
}

/* Anas and Cauan css */
.photos2 {
  display: flex;
}

.photos2 img {
  width: 30vh;
  height: 30vh;
  border-radius: 50%;
  margin-top: 7%;
}

.ana-carolina{
  margin-left: 9%;
}

.ana-clara{
  margin-left: 8%;
}

.cauan{
  margin-left: 7%;
}

.name2 {
  margin-top: 2%;
  margin-left: 10.4%;
}

.icon-ana-carolina {
  margin-left: 15%;
}

.icon-ana-clara {
  margin-left: 26%;
}

.icon-cauan {
  margin-left: 26%;
}