.em-breve h1{
    position: absolute;
    font-size: 20vh;
    font-weight: 700;
    margin-top: 30vh;
    margin-left: 20vh;
}

.customize_box{
  border-style: solid;
  border-color: black;
  border-width: 1px;
  position: absolute;
  width: 70vw;
  height: 100vh;
  top: 10%;
  left: 15%;
  background: #DCDEDE;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.customize{
  padding: 5px;
  font-family: Quantico;
  font-size: 25px;
  text-align: center;
  background-color: #2a272a;
  color: white;
}


.customizing{
  width: 360px;
  height: min-content;
  padding: 20px;
  background: #DCDEDE;
}

.customizing form{
  font-size: 20px;
}

.form-group{
  margin-top: 10px;
  margin-left: 25px;
  margin-bottom: 0;
}

.inputbox1{
  user-select:auto;
  padding-left: 20px;
  width: 40vh;
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: #fcfafa;
  border-width: 1px;
}

.inputbox2{
  user-select:auto;
  padding-left: 20px;
  width: 70vh;
  padding-right: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: #fcfafa;
  border-width: 1px;
}

.first{
  height: 120px;
  max-width: auto;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.second{
  width: 300px;
  height: 42px;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 4px;
  padding-bottom: 5px;
  background-color: #a3cfcd;
  color: white;
  font-size: 25px;
}


.sub{
  margin-top: 20px;
  margin-left: 350px;
  padding-left: 100px;
  padding-right: 100px;
  padding-top: 8px;
  padding-bottom: 8px;
  background-color: #a3cfcd;
  color: white;
  font-size: 25px;
}


.nveja {
  color: #a3cfcd;
  background-color: #a3cfcd;
  text-decoration: none;
  text-decoration-color: #a3cfcd;
}

.nveja:hover{
  color:#a3cfcd
}